body {
  height: 100vh;
  background-color: black;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head {
  height: 10%;
  border: 10px solid gray;
  width: 30%;
  margin: auto;
  background-color: white;
}
.btn:hover {
  background-color: green;
  color: white;
}
.input-container {
  flex-direction: column;
}
.result-box {
  width: 50%;
  height: 10%;
  margin: auto;
  padding: 5x;
  color: black;
  background-color: white;
  border: 10px solid yellowgreen;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}
